{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/playlists">
        <fieldset>
            <legend>New Playlist</legend>
            <p>
                <label for="title">Title</label>
                <input type="text" name="title">
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text" name="description">
            </p>
            <p>
                <label for='playlist-video-ids'>Videos</label><br>
                <p>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
                <textarea id='playlist-video-ids' name='video_ids' rows='10'></textarea>
            </p>
        </fieldset>
        <p>
            <button type="submit">Create Playlist</button>
        </p>
    </form>
{% endblock %}